.like-count-custom-btn {
  float: left;
  padding: 2px;
  margin: 2px;
  border-radius: 5px;
  position: relative;
  outline: 0;
  background: none;
  border: none;
  margin-top: 5px;
}

.like-count-custom-heart-container {
  padding: 5px 7.5px;
  background: #ef2b2d;
  border-radius: 100%;
}

.like-count-custom-btn .like-count-custom-heart-container .fa-heart {
  vertical-align: middle;
  color: white; 
}